{{ if .Get "src" }}
{{ $src := .Page.Resources.GetMatch (printf "*%s*" (.Get "src")) }}
{{ $tinyw := default "500x webp" }}
{{ $smallw := default "800x webp" }}
{{ $mediumw := default "1200x webp" }}
{{ $largew := default "1500x webp" }}

{{/* resize the src image to the given sizes */}}
{{/* We create a a temp scratch because it's not available in this context */}}
{{ $data := newScratch }}
{{ $data.Set "tiny" ($src.Resize $tinyw) }}
{{ $data.Set "small" ($src.Resize $smallw) }}
{{ $data.Set "medium" ($src.Resize $mediumw) }}
{{ $data.Set "large" ($src.Resize $largew) }}

{{/* add the processed images to the scratch */}}

{{ $tiny := $data.Get "tiny" }}
{{ $small := $data.Get "small" }}
{{ $medium := $data.Get "medium" }}
{{ $large := $data.Get "large" }}

<figure{{ with .Get "class" }} class="{{ . }}" {{ end -}}>
	{{- if .Get "link" -}}
	<a href="{{ .Get "link" }}" {{ with .Get "target" }} target="{{ . }}" {{ end }}{{ with .Get "rel" }} rel="{{ . }}"
		{{ end }}>
		{{- end -}}
		<picture>

			<source media="(max-width: 376px)" srcset="{{with $tiny.RelPermalink }}{{.}}{{ end }}">

			<source media="(max-width: 992px)" srcset="{{with $small.RelPermalink }}{{.}}{{ end }}">

			<source media="(max-width: 1400px)" srcset="{{with $medium.RelPermalink }}{{.}}{{ end }}">

			<source media="(min-width: 1600px)" srcset="{{with $large.RelPermalink }}{{.}}{{ end }}">

			<img alt="{{ with .Get "alt" }}{{ . }}{{ else }}{{ .Get "caption" | markdownify | plainify }}{{ end }}"
				src="{{ $src }}" height="{{ $src.Height}}" width="{{ $src.Width }}" class="img-fluid">

		</picture>
		{{- if .Get "link" }}
	</a>{{ end -}}
	{{- if or (or (.Get "title") (.Get "caption")) (.Get "attr") -}}
	<figcaption>
		{{ with (.Get "title") -}}
		<h4>{{ . }}</h4>{{- end -}}
		{{- if or (.Get "caption") (.Get "attr") -}}
		<p>
			{{- .Get "caption" | markdownify -}}
			{{- with .Get "attrlink" }}<a href="{{ . }}">{{- end -}}
				{{- .Get "attr" | markdownify -}}
				{{- if .Get "attrlink" }}</a>{{ end }}
		</p>
		{{- end }}
	</figcaption>
	{{- end }}
	</figure>
	{{ end }}
